{% extends 'AppBundle:template:template.html.twig' %}

{% block main_container %}

  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 ">

        {% include 'AppBundle:includes:flash_messages.html.twig' %}

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-4 text-left">{{ 'Posts'|trans }}: <strong>{{ posts|length }}</strong></div>
              <div class="col-lg-4 text-center">
                <a class="btn btn-lg btn-default" href="{{ path('export_thread', { 'id' : thread.id }) }}" >{{ 'Export'|trans }}</a>
              </div>
              <div class="col-lg-4 text-right">{{ 'Views'|trans }}: <strong><span id="views-counter" data-url="{{ path('api_threads_get_item',{'id':1,'_format':'json'}) }}">{{ thread.getViews }}</span></strong></div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            {{ form(post_form) }}
          </div>
        </div>

        {% if posts is iterable %}
          <div class="row">

          {% for post in posts %}

            <div class="col-lg-12">
              <div class="panel panel-info">
                <div class="panel-body text-center">

                  {% if post.getTitle is not null and post.getTitle|length > 0 %}
                    <p><strong>{{ post.getTitle }}</strong></p>
                  {% endif %}

                  {% if post.imageFile is not null %}
                    <img src="{{ path('load_post_image', { 'id' : post.id }) }}" class="img-responsive center-block" alt="Post {{ post.getId }} image" />
                  {% else %}
                    {% trans %}No image registered{% endtrans %}
                  {%  endif %}
                </div>
              </div>
            </div>

          {% endfor %}

          </div>
        {% endif %}

      </div>
    </div>

  </div>


{% endblock %}
