<!-- jQuery Version 1.11.1 -->
<script src="{{ asset('bundles/app/js/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<!-- Custom -->
<script src="{{ asset('bundles/app/js/custom.js') }}"></script>

