{% if app.session.started and app.session.flashBag.peekAll is not empty %}
  <div class="messages">
    {% for type, messages in app.session.flashBag.all %}
      {% for message in messages %}
        <div class="alert alert-dismissible alert-{{ type }}" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message|trans }}
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}
