
  <!DOCTYPE html>
  <html lang="en">

  {% include '@App/template/includes/head.html.twig' %}

  <body>

  <!-- Page Content -->
  <div class="container">
    <div class="hook_generic"></div>
    {% block main_container %}{% endblock %}

  </div>
  <!-- /.container -->

  {% include '@App/template/includes/footer.html.twig' %}

  {% include '@App/template/includes/javascript.html.twig' %}

  </body>

  </html>

